*.o
*.lo
*.la
ABOUT-NLS
ABOUT-NLS~
autom4te.cache
aclocal.m4
compile
config.guess
config.h
config.in
config.in~
config.log
config.lt
config.rpath
config.rpath~
config.status
config.status.lineno
config.sub
configure
configure.lineno
depcomp
gnome-doc-utils.make
gtk-doc.make
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
location
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
svntool
tags
TAGS
.deps
.libs

data/lmplayer.desktop
data/lmplayer.desktop.in
data/lmplayer-mime-types.h
.*.*.swp

bindings/python/lmplayer.c
bindings/python/lmplayer.defs.new
data/lmplayer.schemas
lyric-downloader/lyric-downloader
po/Makefile.in.in
py-compile
src/backend/baconvideowidget-marshal.c
src/backend/baconvideowidget-marshal.h
src/backend/bvw-test
src/lmplayer
src/lmplayerobject-marshal.c
src/lmplayerobject-marshal.h
src/lmplayerplaylist-marshal.c
src/lmplayerplaylist-marshal.h
tests/mytest
