
ABOUT-NLS
ABOUT-NLS~
aclocal.m4
compile
config.guess
config.h
config.in
config.in~
config.log
config.lt
config.rpath
config.rpath~
config.status
config.status.lineno
config.sub
configure
configure.lineno
depcomp
gnome-doc-utils.make
gtk-doc.make
install-sh
intltool-extract
intltool-extract.in
intltool-merge
intltool-merge.in
intltool-update
intltool-update.in
libtool
location
ltmain.sh
Makefile
Makefile.in
missing
mkinstalldirs
stamp-h1
svntool
tags
TAGS

data/lmplayer.desktop
data/lmplayer.desktop.in
data/lmplayer-mime-types.h
