
[library]
pathnum=1
path=/home/xfxu/tmusic/;

[other]
last_path=/home/xfxu/音乐

[playlist]
background_color=255
text_color=189664255
current_text_color=480251391

[lyric]
background_color=100994303
text_color=271913215
current_text_color=480251391
path=/home/xfxu/音乐

[ui]
ui_No=0
